.cardContent {
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @include pc {
    margin: 50px;
    width: 550px;
  } 
}


.cardContent__name {
  font-family: 'Montserrat';
  text-transform: uppercase;
  font-weight: lighter;
  font-size: 30px;
  color: white;
  overflow: hidden;
  animation: text 2.5s steps(18, end);


  @include pc {
    font-size: 60px;
    color: black;
    margin: 0 auto;

  }

  
}

.cardContent__function {
  // transition: box-shadow 0.5s;
  font-family: Helvetica, sans-serif;
  font-weight: bold;
  margin-top: 50px;
  position: relative;
  z-index: 2;
  font-size: 35px;
  // background: red;
  max-width: 500px;
  text-transform: uppercase;
  color: transparent;
  background: url('../assets/images/text-background.jpg');
  background-clip: text;
  -webkit-background-clip: text;
  background-size: cover;
  animation: textbackground 100s linear infinite reverse;
  // color: transparent;
  // background: linear-gradient(45deg, #e66465, #9198e5);
  // -webkit-background-clip: text;
  // -webkit-text-stroke: 1px black;
  // -webkit-text-fill-color: white;

  @include pc {
    font-size: 50px;
  }

  &::before {
    content: '';
    position: absolute;
    width: 250px;
    height: 100px;
    display: block;
    border: solid white;
    // background: rgb(255, 205, 141);
    border-width: 2px 0px 2px 0px;
    z-index: -1;
    left: 50%;
    bottom: 50%;
    transform: translateY(50%) translateX(-50%);  
    box-shadow: black 0px 0px 0px 0.01px inset;
    transition: box-shadow 0.5s;
    // background: transparent;

    @include pc {
      width: 500px;
      height: 150px;
      border: solid black;
      border-width: 2px 0px 2px 0px;
      box-shadow: white 0px 0px 0px 0.01px inset;
    }
  }

  &:hover {
    -webkit-text-stroke: 1px black;

    @include pc {
      -webkit-text-stroke: 1px white;
    }

    &::before {
      box-shadow: white 500px 0px 0px 0px inset;

      @include pc {
        box-shadow: black 500px 0px 0px 0px inset;
      }
    }
  }
}

  
  


.cardContent__importantInfos {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  width: 300px;
  max-width: 70vw;
  justify-content: space-between;
  margin-top: 50px;
  color: white;

  @include pc {
   color: black;
   width: 300px;

  }

  li {
  position: relative;

  }

  li:not(:last-child):after {
    content: '•';
    position: absolute;
    left: 150%;
  }

}