.importantInfos {

  //to fix : rwhen text is written on 2 lines, it creates a sort of padding and the dots are no more centered.
  li {
    line-height: 25px;
  }

  li:first-child {
    padding-left: 5px;
    padding-right: 5px;
  }
}

.importantInfos__link {
  color: white;
  text-decoration: none;
  padding-bottom: 5px;
  padding-top: 5px;
  padding-left: 5px;
  padding-right: 5px;
  box-shadow: 0px -2px $lightgreen inset;
  transition: box-shadow 0.5s, color 0.5s;

  @include pc {
    color: black;
  }

  &:hover {
    box-shadow: 0px -40px $lightgreen inset; 
    color: white;
  }
}