.pageLinks__title {
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  padding-top: 20px;
  padding-bottom: 15px;
}

.pageLinks__pagelinkList {
  text-align: center;
  font-size: 16px;

  a {
  color: black;
  text-decoration: none;
  border-bottom: 2px solid $lightgreen;
  
  // box-shadow: 0px -2px $lightgreen inset;
  // transition: box-shadow 0.5s, color 0.5s;
  }
}


.pagelinkList__item:not(:last-child) {
  padding-bottom: 10px; 
}


