.visitCard {
  width: 100vw;
  height: 100vh;
  position: absolute;
  display: flex;
  border: 15px solid white;
  
  // box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.397);
  // padding: 20px;
  // background: black;

  @include pc {
    width: 1025px;
    height: 475px;
    top: 50%;
    left: 50%;
    background: white;
    transform: translateY(-50%) translateX(-50%);
    border: none;

  }
}

.visitCard__flipCard {
  position: relative;
  display: none;

  @include pc {
    display: block;
  }
}



.visitcard__content {
  text-align: center;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: black;

  @include pc {
    width: 65%;
    background: white;

  }
}
