.welcome {
  // width: 100vw;
  height: 100vh;
  width: 100%;
  display: flex;
  background: black;
  position: relative;
  overflow: hidden;
  justify-content: center;
  align-items: center;
}

.square {
  background: linear-gradient(45deg, $lightgreen, $darkgreen);
  width: 50px;
  height: 50px;
  display: block;
  position: absolute;
  transform: rotate(45deg);
  animation: waow 6s infinite;
}