@mixin fontface ($name, $woff2, $woff, $style, $weight) {
  @font-face {
    font-family: $name;
    src: url($woff2) format("woff2"), url($woff) format("woff");
    font-style: $style;
    font-weight: $weight; 
  }
}

@mixin tablet {
  @media (min-width: 700px) and (min-height: 1000px) {
    @content;
  }
}

@mixin pc {
  @media (min-width: 1100px) {
    @content;
  }
}
